h1{color: white;
background-color: red;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 8px;
border-radius: 16px;
border-color: blue;}

a{color: red;}


img{width: 300px;
height: auto;}

h4{color: orange;}

h3{color: orange;}